<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ac.uk/ox/cs/mml/MML"
			class = "uk.ac.ox.cs.mml.mML.MMLPackage"
			genModel = "model/generated/MML.genmodel" />
	</extension>
</plugin>
